.card {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: rgb(30,30,30);
    margin: 30px; 
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    display: block;
  }
  
  .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 15px;
  }
  


.card-btn {
    flex: 1; 
    background: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 0.8rem;
    text-align: center;
}

  
  .card-btn:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  

@media screen and (max-width:585px)  {
  .card:hover {
      transform: none;
  }
}