.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Adds spacing between buttons */
  }
  
.skillBars{
    margin: 1.5rem;
    /* width: 100vw; */
    min-width: 80%;
    text-align: left;
}

.skillBar{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 100%;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg{
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
}

.skillBarText > p {
    font-size: 0.9rem;
    font-weight: 200;
}

h2 , h6{
    padding: 0.2rem;
}

@media screen and (max-width:720px) {
    .skillBarText>p{
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p{
        font-size: 2vw;
    }
    .skillBarImg{
        height: 3rem;
        width: 3rem;
    }
    .skillBarText{
        font-size: 5vw;
    }
}